@import "variables";
@import "media";
@import "mixins";

@include font-face($hypatia-regular, '../fonts/HypatiaSansPro-Regular', 'hypatia-regular');
@include font-face($hypatia-bold, '../fonts/HypatiaSansPro-Bold', 'hypatia-bold');
@include font-face($hypatia-black, '../fonts/HypatiaSansPro-Black', 'hypatia-black');

html{

}
body{
  background-color: $main-bg;
  font-family: $hypatia-regular;
  padding: 0 2%;
  @include respond-to(extra-small-screen){
    padding: 0;
  }
  @include respond-to(small-screen){
    padding: 0;
  }
}
h1,h2,h3,h4,h5,h6{
  font-family: $hypatia-bold;
  margin-bottom: 0;
}
h1{
  @include respond-to(extra-small-screen){
    font-size: 36px;
  }
  @include respond-to(small-screen){
    font-size: 36px;
  }
}
h2{
  @include respond-to(extra-small-screen){
    font-size: 28px;
  }
  @include respond-to(small-screen){
    font-size: 28px;
  }
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: $color-black;
}
p{
  color: $color-black-secondary;
  line-height: 1.4;
  font-size: 18px;
}
a,p,span{
  /*font-size: $font-size-regular;*/
  margin: 0;
}
input{
  &:focus{
    outline: none;
  }
}
.display-4{
  @include respond-to(extra-small-screen){
    font-size: 44px;
  }
  @include respond-to(small-screen){
    font-size: 52px;
  }
}