// Helper class
.divider{
  background: $bg-black;
  width: 100%;
  height: 4px;
}
//
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
//
.fill-green, .fill-red{
  @include transition($transition-ease);
}
.fill-red{
  fill: $color-red;
}
.fill-green{
  fill: $color-green;
}
.fill-blue{
  fill: $color-blue;
}
//
.bg-light-pink{
  background: $bg-light-pink;
}
.bg-gray{
  background: $bg-gray;
}
.bg-green-light{
  background: $bg-green-light;
}
// Children card background
.bg-children-1{
  background: $bg-children-1;
}
.bg-children-2{
  background: $bg-children-2;
}
.bg-children-3{
  background: $bg-children-3;
}
.bg-children-4{
  background: $bg-children-4;
}
.bg-children-5{
  background: $bg-children-5;
}
.bg-children-6{
  background: $bg-children-6;
}
//
.hidden-290{
  height: 290px;
  @include respond-to(extra-small-screen){
    height: 90px;
  }
  @include respond-to(small-screen){
    height: 90px;
  }
}
.hidden-100{
  height: 0;
}
//
.m-l-minus-210{
   margin-left: -210px;
}
.m-l-minus-100{
  margin-left: -100px;
  @include respond-to(extra-small-screen){
    margin-left: 0;
  }
  @include respond-to(small-screen){
    margin-left: 0;
  }
  @include respond-to(medium-screen){
    margin-left: 0;
  }
}
.m-l-minus-85{
  margin-left: -85px;
}
//
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
//
.box-shadow{
  @include box-shadow($box-shadow-card);
}
//
.dots{
  position: absolute;
  content: '';
  z-index: 3;
  background-image: url(../../images/svg/dots.svg);
  &.dots-small-left{
    width: 175px;
    height: 265px;
    left: -250px;
    top: 100px;
    z-index: 2;
  }
  &.dots-big-right{
    width: 365px;
    height: 185px;
    right: -100px;
    top: 185px;
  }
  &.dots-big-left{
    width: 365px;
    height: 185px;
    left: -100px;
    top: 185px;
  }
  &.dots-pic-left{
    width: 280px;
    height: 360px;
    left: 0;
    top: 100px;
    z-index: 2;
  }
  &.dots-pic-right{
    width: 280px;
    height: 360px;
    right: -280px;
    top: 0;
    z-index: 2;
  }
}
