// Colors
$main-bg: #f8f8f8;
$wrapper-bg: #fff;

$bg-black: #000;
$bg-white: #fff;
$bg-default: #f8f8f8;
$bg-red: #df3333;
$bg-green: #b6cf49;
$bg-green-light: #eff2df;
$bg-light-pink: #fcf4ed;
$bg-blue: #2b4567;
$bg-gray: #f1f1f1;

$color-black: #000;
$color-black-secondary: #666666;
$color-red: #df3333;
$color-green: #b6cf49;
$color-white: #fff;
$color-lighter-pink: #fbf6ef;
$color-blue: #2b4567;

$transition-ease: all 0.2s ease;

$box-shadow-card: 0 0 20px rgba(0,0,0, 0.1);

// Typography

$hypatia-regular: 'hypatia-regular';
$hypatia-bold: 'hypatia-bold';
$hypatia-black: 'hypatia-black';

// Extended Spacing