// Children card

.children-card{
  .children-card-item{
    margin-bottom: 30px;
    @include box-shadow($box-shadow-card);
    .children-card-pic{
      height: 265px;
      svg{
        fill: $color-white;
      }
    }
    .children-card-info{
      h4{
        margin-top: 30px;
      }
      span{

      }
    }
    .children-card-donate{
      margin-top: 20px;
      padding-bottom:20px;
      .form-check{
        margin-bottom: 15px;
        label{
          font-size: 20px;
          font-family: $hypatia-bold;
          color: $color-gray;
          cursor: pointer;
          span{
            padding-left: 3px;
            margin-top: 5px;
          }
        }

      }
    }
    .children-card-donate-cancel{
      margin-top: 5px;
      a{
        &:hover{
          svg{
            fill: $color-black;
          }
          p{
            color: $color-black;
          }
        }
        svg{
          fill: $color-gray;
          display: inline-block;
        }
        p{
          display: inline-block;
          font-size: 20px;
          font-family: $hypatia-bold;
          color: $color-gray;
          cursor: pointer;
          padding-left: 5px;
        }
      }
    }
  }
}