// Header
#header{
  position: relative;
  height: 130px;
  width: 100%;
  @include respond-to(extra-small-screen){
    height: 60px;
  }
  @include respond-to(small-screen){
    height: 30px;
  }
  .desktop-header{
    /*width: 90%;
    position: fixed;
    left: 5%;*/
    z-index: 100;
    background: $bg-white-alpha-80;
  }
}
// Top navigation
.top-navigation{
  margin-top: 68px;
  ul{
    li{
      float: left;
      margin-right: 30px;
      a{
        font-family: $hypatia-bold;
        padding-bottom: 25px;
        display: block;
        position: relative;
        font-size: 18px;
        &.active:after{
          content: '';
          width: 62px;
          height: 4px;
          background: $bg-black;
          position: absolute;
          border-bottom: 4px solid $color-black;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}
// Top logo
.logo-top{
  margin-top: 15px;
}
// Top auth links
.top-auth-links{
  margin-top: 65px;
  .btn{
    margin-left: 20px;
  }
}