// Main title
.main-title{
  & h1, & p{
    font-family: $hypatia-bold;
  }
  & p{
    color: $color-black;
  }
  .main-title-date{
    strong{
      padding: 55px 0 0 25px;
      display: block;
    }
    .divider{
      width: 70px;
    }
  }
}
.main-title-pic{
  margin-top: -290px;
  @include respond-to(extra-small-screen){
    margin-top: -90px;
  }
  @include respond-to(small-screen){
    margin-top: -90px;
  }
}