// Sign in

.sign-in{
  margin-top: 30px;
  .sign-in-pic{

  }
  .sign-in-content{
    margin-top: 205px;
  }
  .sign-in-form{
    margin-top:60px;
    background: $bg-white;
    @include box-shadow($box-shadow-card);
    padding: 55px 0 15px 0;
    a{
      font-family: $hypatia-bold;
    }
    .sign-in-title{
      margin-bottom: 40px;
      h1{
        margin-top: 0;
      }
    }
    .sing-in-label{
      margin-top: 10px;
      margin-bottom: 45px;
      text-align: center;
    }
    .link-right{
      float: right;
    }
    .link-cancel{
      padding-top: 11px;
      margin-bottom: 30px;
    }
  }
}